# Ignore all logfiles and tempfiles
/coverage/
/log/
/spec/reports
/spec/rspec-status.txt
/tmp/
/tags

# Package and dependency caches
/.bundle
/Gemfile.lock
/pkg/

# Generated documentation
/doc/
/.yardoc
/_yardoc/
